<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
 <meta charset="UTF-8">
 <title>My Website - About</title>
</head>
<body>

 <h1>Donique Forbes</h1>
 <img  width="250" height="250" src =" {{ url_for('static', filename = 'css/image1.jpg') }}"/>
 <p>Hi, I'm Donique. A Computer Science Major with big dreams and wanderlust. I love reading and I'm always up for a beach trip. I am graduating from University this year and I am so happy. I really want a dog or cat so if you know any cute pups/kittens just send them my way lol. </p>
</body>
</html>